!!!
%html
  %head

  %body
    %h1 Velkommen til UCSyddanmarks julekalender
    %p
      Ohøj
      = @user.name
      Velkommen ombord på KJS UCJul
    %p
      Du kan logge ind med:
      E-mail:
      = @user.email
      Password:
      = @user.password
    %p
      Vi glæder os til at sejle med dig.
:javascript
  function multiply(what)
  {
    that = (what * 2)
    return that
  }
  for (x = 2; x < 50; x = multiply(x))
  {
    console.log(x);
  }